<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Url Shortner</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <h1>URL Shortner Service</h1>
        <hr>
        <section>
          <form action="/" method="POST">
            <input id="urlinput" type="text" name="url" class="form-control" placeholder="Enter link..." required>
            <input id="enter" type="submit" class="btn btn-outline-light" value="Shorten">
          </form>
        </section>

      </div>
      <div class="url">
        <% if(url_shortened){ %>
        <p><%= url_shortened %></p>
        <% } %>
      </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  </body>
</html>
